
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Master";
}

<div class="d-flex justify-content-center">
    <div class="w-75 p-4 bg-warning master-page-header-card">
        <div class="row m-0 p-0">
            <div class="col-md-6 col-sm-12">
                <h1 class="fw-bolder">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <span>
                            Welcome,
                            <span>@(UserManager.GetUserAsync(User).Result.FirstName)!</span>
                        </span>
                    }
                    else
                    {
                        <span>
                            Free Delivery!
                        </span>
                    }
                </h1>
                <p class="w-75 my-5">
                    Don't miss it out! Only today, get free <strong>Next Day</strong> delivery on all your orders.
                </p>
                <a href="#" class="btn btn-light rounded-pill shadow grow-sm fw-bolder text-secondary">
                    Browse Products
                </a>
            </div>
            <div class="col-6 d-md-flex d-sm-none">
                <img src="~/images/master-card-img.png" class="master-page-header-card-image img-fluied w-100" />
            </div>
        </div>
    </div>
</div>