

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light grow mx-3" asp-area="Customer" asp-controller="Wishlist" asp-action="Index">
            <i class="bi bi-heart nav-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light grow mx-3" asp-area="Customer" asp-controller="Cart" asp-action="Index">
            <i class="bi bi-cart3 nav-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light grow mx-3" asp-area="Customer" asp-controller="Order" asp-action="Index">
            <i class="bi bi-bag nav-icon"></i>
        </a>
    </li>
</ul>
