@{
    Layout = "";
}

<div class="d-flex justify-content-center mt-4">
    <div class="p-4 text-center w-25 bg-light shadow-sm">
        <i class="fa-solid fa-circle-exclamation text-warning h1"></i>
        <p class="d-block h4">No items to show</p>
    </div>
</div>