
<table id="productsDataTable" class="w-100 table table-striped table-bordered bg-light shadow-sm rounded-3 p-3">

    <thead class="p-3">
        <tr>
            <th>Id</th>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>

   
</table>
